@if (!Context.User.Identity.IsAuthenticated)
{
    <li class="nav-item">
        <a class="nav-link text-capitalize" asp-area="" asp-controller="Account" asp-action="Register"
           style="color: white">Register</a>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-capitalize" asp-area="" asp-controller="Account" asp-action="Logout"
           style="color: white">Logout</a>
    </li>
}